<nav class="nav-group">
    <div class="tab">
        <a href="/all">All</a>
    </div>
    <div class="tab">
        <a href="/cafting">Crafting</a>
    </div>
    <div class="tab">
        <a href="/equipment">Equipment</a>
    </div>
    <div class="tab">
        <a href="/consumable">Consumable</a>
    </div>
</nav>