<div class="npc-form-container hidden hiddener">
    <form class="npc-form" method="POST" action="/create/npc">
        <div class="form-section">
            <label for="name">NPC Name:</label>
            <input name="name">
        </div>
        <button type="submit">Add</button>
    </form>
</div>