<!DOCTYPE html>
<html>
  <%- include("./head.ejs")%>
  <body>
    <div class="vendor-inventory">
      <% for(let i = 0; i < 25; i++) {
        %>
        <div class="inventory-item"></div>
        <% }%>
    </div>
  </body>
</html>
